<!DOCTYPE html>
<html>
<head>
  <title>Rcommerce</title>
  <%= stylesheet_link_tag    "rcommerce/application", media: "all" %>
  <%= javascript_include_tag "rcommerce/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
